<div class = "container">
	<div class="form-inline">
	<h1 align="left">Login</h1>

	<input type = "text" class = "form-control" id="reguser" placeholder="Username">
	<input type = "password" class = "form-control" id="regpass" placeholder="Password">

	<br><br>
	<div>
	<button type = "button" onclick="login()" class= "btn btn-success btn-md" id="signin" method="post">Sign in</button>
	<button type = "button" class= "btn btn-success btn-md" id="signup" method="post" onclick="reg()">Sign up</button>
	</div>
<script type="text/javascript" src="methods.js">
</script>