<script type="text/javascript" src="methods.js">
</script>
<script>
	var user=getCookie("status");
    if (user == 1) {
        window.location = '/my';
    	}
    document.title = 'Registration'
</script>
<div class = "container">
<form  method="post">
	<div class="form-inline">
	<h1 align="left">Sign up</h1>

	<input type = "text" class = "form-control" id="newuser" placeholder="New Username">
	<input type = "password" class = "form-control" id="newpass" placeholder="New Password">

	<br><br>
	<button type = "button" class= "btn btn-success btn-md" id="sr" onclick="saveReg()">Register</button>
	</div>
</form>
<script type="text/javascript" src="methods.js">
</script>