<div class = "container">
	<div class="form-inline">
	<h1 align="left">Sign up</h1>

	<input type = "text" class = "form-control" id="newuser" placeholder="New Username">
	<input type = "password" class = "form-control" id="newpass" placeholder="New Password">

	<br><br>
	<div>
	<button type = "button" class= "btn btn-success btn-md" id="sr" method="post" onclick="saveReg()">Register</button>
	</div>
<script type="text/javascript" src="methods.js">
</script>